{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
{% spaceless %}
    <div class="field">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        <div class="control">
            {{ form_widget(form, {'attr': {'class' : 'input'}}) }}
        </div>
        {{ form_help(form) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block form_start %}
{% spaceless %}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form_row')|trim}) %}
    {{- parent() -}}
    <div class="form_row">
{% endspaceless %}
{% endblock %}

{%- block form_label -%}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' label')|trim}) %}
     {{- parent() -}}
{%- endblock form_label -%}