{% extends 'base.html.twig' %}

{% block body %}

        <h1 class="title">Property: {{ property.title }} (ID: {{ property.id }})</h1>
   
       <div class="field has-addons">
            <div class="control">
                <a class="button is-small " href=" {{ path("property") }}"><< Back to list</a>
            </div>
        </div>

        <table class="table is-fullwidth is-hoverable is-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ property.id }}</td>
                </tr>

                <tr>
                    <th>Title</th>
                    <td>{{ property.title }}</td>
                </tr>
            </tbody>
        </table>

{% endblock %}
